<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            position: relative;
        }

        ul.nav-pills {
            top: 20px;
            left: 10px;
            position: fixed;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(document).ajaxStop(function () {
            });
        });
    </script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <nav class="col-sm-3" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
            <% _.each(items, function(topC) { %>
                <li>
                    <a href="#<%= topC.name %>">
                        <%= topC.name %>
                    </a>
                </li>
                <% }); %>
        </ul>
    </nav>


    <div class="container">
        <article>
            <header>
                <ul class="breadcrumb">
                    <li>
                        <a href="home">Home</a>
                    </li>
                </ul>
            </header>
        </article>
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <% _.each(items, function(topC) { %>
                        <li>
                            <div id="<%=topC.name %>">
                                <h1>
                                    <%=topC.name %>
                                </h1>
                            </div>
                            <p>
                                <%= topC.page_description %>
                            </p>
                            <% if (topC.image) { %>
                                <div>
                                    <img src="/images/<%= topC.image %>">
                                </div>
                                <% } %>
                                    <div>
                                        <ul>
                                            <% _.each(topC.categories, function(subC) { %>
                                                <li>
                                                    <h2>
                                                        <%= subC.name %>
                                                    </h2>
                                                    <p>
                                                        <%= subC.page_description %>
                                                    </p>
                                                    <% if (subC.image) { %>
                                                        <div>
                                                            <img src="/images/<%= subC.image %>">
                                                        </div>
                                                        <% } %>
                                                </li>
                                                <a id="main" href="/subCategories?topCId=<%= topC.id %>&subCId=<%= subC.id %>" class="btn btn-info" role="button">Sub categories</a>
                                                <% }); %>
                                        </ul>
                                    </div>
                        </li>
                        <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <script>

            // var request = $.ajax({
            //     url: 'homePage',
            //     success: function (result) {

            //         $("#demo").html(result);
            //         request.abort();
            //     },
            //     async: true
            // });

    </script>


</body>

</html>