<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="row box-shadow">
                    <div class="col-md-4">
                        <img src="/images/<%= item.image_groups[0].images[0].link %>">
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            <h2>
                                <%= item.name %>
                            </h2>
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            <h4>
                                <%= item.short_description %>
                            </h4>
                        </div>
                        <h4>
                            <strong>
                                Price: $
                                <%= item.price %>
                                    <select class="selectpicker">
                                        <option selected>
                                            <%= item.currency %>
                                        </option>
                                        <option>BGN</option>
                                        <option>EUR</option>
                                    </select>
                                    <select class="selectpicker">
                                        <% _.each(item.variants, function(variant) { %>

                                            <option>
                                                <%= variant.variation_values.size %>
                                            </option>

                                            <% }); %>
                                    </select>
                                    <select class="selectpicker">
                                        <% _.each(item.variants, function(variant) { %>

                                            <option>
                                                <%= variant.variation_values.color %>
                                            </option>

                                            <% }); %>
                                    </select>
                                    <button id="searchBtn" type="button" class="btn btn-success">Buy now</button>
                            </strong>

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>