<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .bottom-align-text {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
</head>

<body>
    <div id="demo">
        <div class="container">
            <div class="row">
                <article>
                    <header>
                        <ul class="breadcrumb">
                            <li>
                                <a href="home">Home</a>
                            </li>
                        </ul>
                        <p>
                            <h1>
                                <%= title %>
                            </h1>
                        </p>
                    </header>
                </article>

                <div class="col-md-13">
                    <div class="dropdown text-right">
                        <input id="search" type="text" autocomplete="false" value="<%= filter %>">
                        <button id="searchBtn" type="button" class="btn">Search</button>
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="products?productCId=<%= items[0].primary_category_id %>&desc=1">Price: Low to High</a>
                            </li>
                            <li>
                                <a href="products?productCId=<%= items[0].primary_category_id %>&desc=-1">Price: High to Low</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <ul>
                    <div id="itemsId" value="<%= productCId %>">

                        <% _.each(items, function(product) { %>
                            <li class="list-group-item col-md-6">
                                <h4>
                                    <strong id="name">
                                        <%= product.name %>
                                    </strong>
                                </h4>

                                <div class="col-md-13">
                                    <div class="col-md-6">
                                        <% if (product.image_groups[0].images[0].link) { %>
                                            <div>
                                                <a href="product?id=<%= product.id %>">
                                                    <img src="/images/<%= product.image_groups[0].images[0].link %>" width="240" height="240">
                                                </a>
                                            </div>
                                            <% } %>
                                    </div>

                                    <div class="col-md-0">
                                        <p>
                                            <%= product.short_description %>
                                        </p>
                                        <div class="bottom-align-text">
                                            <h4>
                                                <strong>
                                                    Price: $
                                                    <%= product.price %>
                                                </strong>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% }); %>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <footer>

    </footer>

    <script>
        $(document).ready(function () {

            $('#searchBtn').on("click", function () {
                $('#demo').load("products", "productCId=" + $("#itemsId").attr('value') + "&f=" + $('#search').val() + "&desc=-1", function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "success")

                        if (statusTxt == "error")
                            console.log("Error: " + xhr.status + ": " + xhr.statusText);
                });
            });
        });
    </script>
</body>

</html>