<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            position: relative;
        }

        ul.nav-pills {
            top: 20px;
            left: 10px;
            position: fixed;
        }
    </style>
</head>


<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <nav class="col-sm-3" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
            <% _.each(items, function(topC) { %>
                <% _.each(topC.categories.categories, function(subC) { %>
                    <li>
                        <a href="#<%= subC.name %>">
                            <%= subC.name %>
                        </a>
                    </li>
                    <% }); %>
                        <% }); %>

        </ul>
    </nav>
    <div class="container">
        <article>
            <header>
                <ul class="breadcrumb">
                    <li>
                        <a href="home">Home</a>
                    </li>
                </ul>
                <p>
                    <h1>
                        <%= title %>
                    </h1>
                </p>
            </header>
        </article>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <% if (items.length==0) { %>
                        <h2>No products found!</h2>
                        <% } %>
                            <% _.each(items, function(topC) { %>
                                <li>
                                    <h1>
                                        <%= topC.categories.name %>
                                    </h1>
                                    <p>
                                        <%= topC.categories.page_description %>
                                    </p>
                                    <% if (topC.image) { %>
                                        <div>
                                            <img src="/images/<%= topC.image %>">
                                        </div>
                                        <% } %>
                                            <div>
                                                <ul>
                                                    <% _.each(topC.categories.categories, function(product) { %>
                                                        <li>
                                                            <div id="<%= product.name %>">
                                                                <h2>
                                                                    <%= product.name %>
                                                                </h2>
                                                            </div>
                                                            <p>
                                                                <%= product.page_description %>
                                                            </p>
                                                            <% if (product.image) { %>
                                                                <div>
                                                                    <img src="/images/<%= product.image %>">
                                                                </div>
                                                                <% } %>
                                                        </li>
                                                        <a href="products?productCId=<%= product.id %>&desc=-1" class="btn btn-info" role="button">View products</a>
                                                        <% }); %>
                                                </ul>
                                            </div>
                                </li>
                                <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>

</html>